
<header class="p-4">
    <div class="container p-4">
    <div class="row align-items-center">
    <div class="col-md-6 ">
<img src="images/headerimg.png" alt="">
    </div>
    <div class="col-md-6  order-md-last">
      <h1>Min boksamling</h1>
      <div class="ine"></div>
      <p>
        Denna är min boksamling som är väldigt viktig för mig. Här samlar jag alla mina favorit böcker och lisyar de efter år och månad.
      </p>
      <a asp-controller="Book" asp-action="Index" class="btn headerBtn">Böcker</a>
    </div>
  </div>
    </div>
</header>